.p{
    width: 200px;
    text-align: center;
    margin-left: 35px;
    margin-top: 30px;
}
.mleft{
    margin-left: 42px;
    margin-top: -60px;
}
.border_line{
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border-radius: 20px;
    width: 260px;
    margin-top: 150px;
}
.p_df{
    display: flex;
    margin-top: 30px;
    margin-left: 90px;
    margin-bottom: 40px;
}
.green_p{
    color: green;
}
.df_big{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-left: 15px;
}
.back_style{
    border: 1px solid #00B07426;
    border-color:#00B07426;
    background-color: #00B07426;
    border-radius: 20px;
}
.back_style1{
    border: 1px solid #FF5B5B26;
    border-color:#FF5B5B26;
    background-color: #FF5B5B26;
    border-radius: 20px;
}.back_style2{
    border: 1px solid #2D9CDB26;
    border-color:#2D9CDB26;
    background-color: #2D9CDB26;
    border-radius: 20px;
}.back_style3{
    border: 1px solid #00B07426;
    border-color:#00B07426;
    background-color: #00B07426;
    border-radius: 20px;
}
.all{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: -40px;
}