.df-df{
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
}
.dot_mtop{
    margin-top: 4px;
    margin-right: 5px;
}
.size_text{
    font-size: 10px;
    margin-top:5px ;

}
.all_border{
    border: 1px solid aliceblue;
    border-color: aliceblue;
    background-color: aliceblue;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    padding-left: 20px;
    padding-top: 30px;
    margin-top: 50px;
}
.history{
    margin-bottom: 50px;
    margin-top: 10px;
}
.all{
    margin-left: -800px;
}