.mright{
    margin-left: -5px;
}
.borderline{
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    margin-left: -500px;
}
.font-size{
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.df{
    display: flex;
}
.mtoptxt{
    margin-top: 13px;
    margin-left: 20px;
    margin-bottom: 50px;
}
.df22{
    border: 1px solid #2D9CDB;
    padding: 10px;
    height: 80px;
    text-align: left;
    display: flex;
    border-radius: 10px;
    margin-left: 150px;
}
.df12{
    border: 1px solid #2D9CDB;
    padding: 10px;
    height: 80px;
    text-align: left;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
}
.mleft{
    margin-left: 10px;
    padding-top: 10px;
}
.mleft_img{
    margin-top: 10px;
}